@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #ffad33;
  border-radius: 10px;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
